@viewport {
    width: device-width;
}

* {
    margin: 0;
    padding: 0;

    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

::selection {
    // background-color:;
    // color:;
    // text-shadow:;
}

html {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    line-height: $base-line-height;
}

body,
input {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
}
